/* ContactMe.css */
.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #e9ecef !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Center the submit button */
.form-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  margin-top: 20px; /* Optional: Adds some spacing above the button */
}
